.categories {
  width: 1160px;
  margin: 89px auto auto;
  
  .clearfix();
  
  &__link {
    float: left;
    width: 160px;
    min-height: 300px;
    margin-right: 40px;
    
    vertical-align: top;
    
    &:nth-of-type(6n) {
      margin: 0;
    }
  }
}