.filter-bar {
  float: right;
  box-sizing: border-box;
  width: 202px;
  margin-right: 68px;
  margin-top: 6px;

  text-align: left;
  color: #000000;

  &__price {
    box-sizing: border-box;
    min-height: 140px;;
    margin: 0;
    padding: 0;

    border: none;
    border-top: 2px solid #000000;
  }

  &__title {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 21px;

    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    font-family: 'Gilroy', 'Arial', sans-serif;
    text-align: left;
  }

  &__color {
    box-sizing: border-box;
    min-height: 286px;
    margin: 0;
    padding: 0;

    border: none;
    border-top: 2px solid #000000;
  }

  &__checkbox {
    display: none;

    &:checked + &-label::after,
    &:active:not(:checked) + &-label:after {
      visibility: visible;
      opacity: 1;
    }

    &:active:checked + &-label:after {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__checkbox-label {
    position: relative;

    display: block;
    padding-left: 40px;

    font-size: 14px;
    line-height: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;

      width: 23px;
      height: 23px;

      background-color: #dbdbdb;
    }

    &:hover::before {
      background-color: #cecece;
    }

    &:active::before {
      background-color: #c4c4c4;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 7px;

      box-sizing: border-box;
      width: 10px;
      height: 6px;

      border: 2px solid #000000;
      border-top: none;
      border-right: none;
      transform: rotate(-40deg);
      visibility: hidden;
      opacity: 0;

      transition-duration: .2s;
    }
  }

  &__bluetooth {
    box-sizing: border-box;
    min-height: 170px;
    margin: 0;
    padding: 0;

    border: none;
    border-top: 2px solid #000000;
  }

  &__radio {
    display: none;

    &:checked + &-label::after,
    &:active:not(:checked) + &-label::after {
      visibility: visible;
      opacity: 1;
    }

    &:active:checked + &-label::after {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__radio-label {
    position: relative;
    margin: 0;

    display: block;
    padding-left: 40px;

    font-size: 14px;
    line-height: 40px;

    &::before {
      content: "";
      position: absolute;
      top: 7px;
      left: 0;

      box-sizing: border-box;
      width: 23px;
      height: 23px;

      border: 2px solid #c6c6c6;
      border-radius: 50%;
    }

    &:hover::before {
      border-color: #bcbcbc;
    }

    &:active::before {
      border-color: #acacac;
    }

    &::after {
      content: "";
      position: absolute;
      top: 14px;
      left: 7px;

      box-sizing: border-box;
      width: 9px;
      height: 9px;

      border: 2px solid #000000;
      border-radius: 50%;
      visibility: hidden;
      opacity: 0;

      transition-duration: .2s;
    }
  }
}
