.info {
  width: 1160px;
  margin: 93px auto auto;
  .clearfix();
  
  &__about-us {
    float: left;
    width: 460px;
    min-height: 655px;
    margin-right: 140px;
  }
  
  &__contacts {
    float: right;
    width: 560px;
    min-height: 655px;
  }
}