.page-footer {
  width: 1160px;
  margin: auto;
  .clearfix();
  
  &__wrapper-left {
    float: left;
    width: 260px;
    min-height: 323px;
    margin-right: 100px;
  }
  
  &__logo {
    margin: 0;
  }
  
  &__address {
  }
  
  &__wrapper-center {
    float: left;
    width: 440px;
    min-height: 323px;
    margin-right: 35px;
  }
  
  &__info {
    width: 440px;
    float: left;
  }
  
  &__wrapper-right {
    float: right;
    width: 325px;
    min-height: 323px;
  }
  
  &__tel {
    float: right;
    margin: 0;
  }
  
  &__created {
    float: right;
  }
}