.promo-slider {
  position: relative;
  
  width: 1160px;
  margin: -108px auto auto;
  
  .clearfix();
  
  &__toggle {
    display: none;
  }
  
  &__control {
    
  }
  
  &__label {
    position: absolute;
  }
  
  &__slide {
    display: none;
    
    &--1 {
      display: block;
    }
    
    &--2 {
    }
    
    &--3 {
    }
  }
  
  &__wrapper {
    width: 560px;
    height: 500px;
    
    &--left {
      float: left;
      margin-right: 40px;
    }
    
    &--right {
      float: right;
    }
    
  }
}