.service-slider {
  width: 100%;
  background: linear-gradient(180deg, transparent 123px, #e5e5e5 123px);
  
  &__wrapper {
    width: 1160px;
    margin: auto;
    .clearfix();
  }
  
  &__toggle {
    display: none;
  }
  
  &__toggle-list {
    float: left;
    width: 280px;
    min-height: 411px;
    .list-clear-indent();
  }
  
  &__toggle-item {
    
  }
  
  &__toggle-label {
    
  }
  
  &__list {
    float: left;
    width: 700px;
    min-height: 411px;
    .list-clear-indent();
  }
  
  &__item {
    
  }
  
  &__title {
    
  }
  
  &__text {
    
  }
  
}