.sorting {
  .clearfix();
  
  &__title {
    float: left;
  }
  
  &__list {
    float: left;
    .list-clear-indent();
  }
  
  &__item {
    display: inline-block;
    
    vertical-align: top;
  }
}